.loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: black;
  opacity: 0.5;
  color: white;
  font-size: 80px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
